In [1]:
import pandas as pd
import numpy as np

In [7]:
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan,0.62],
    "Goog": [0.45, 0.63, 0.55]
})
daily_returns = daily_returns.fillna(daily_returns.mean())
daily_returns

   AAPL  Goog
0  0.50  0.45
1  0.56  0.63
2  0.62  0.55

In [10]:
import pandas as pd
best_actors_df = pd.DataFrame({
    "Best Actors": ["Nic Cage", "Nic Cage", "Harrison Ford"]
})
best_actors_df.duplicated().sum()

1

In [13]:
import pandas as pd

prices = pd.DataFrame({
    "price_usd": ["$0.53", "$0.22", "0.34"]
})

prices.loc[:, "price_usd"] = prices.loc [:, "price_usd"].str.replace("$","")
prices

C:\Users\Bryce\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys

  price_usd
0      0.53
1      0.22
2      0.34